body {
    font-family: "Lustria", serif;
    background-image: linear-gradient(to bottom, #3E77A9, #192F43 );
    margin: 0;
    padding: 0;
}

/* Style for the top banner */
.topBanner{
    background-color: #ffffff;
    opacity: 0.95;
    text-align: center;
    font-size: 36px;
    width: 100%;
    height: 60px;
}

/* Style for the center white box */
.centerBox {
    background-color: #ffffff;
    opacity: 0.95;
    width: 750px;
    height: 450px;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Ensure the left and right sections of the center box take equal space */
.centerBox div {
    flex: 1;
}

/* Login form style (Left side of Center Box) */
.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .formTitle { 
        font-size: 34px;
        align-self: flex-start;
        margin-left: 75px;
        margin-top: -100px;
    }

    .input [type="text"], .input [type="password"] {
        width: 200px;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .UseOurSite {
        font-size: 14px;
        align-self: flex-start;
        margin-left: 75px;
        margin-bottom: -50px;
    }

}

/* Welcome message style (Right side of Center Box) */
.welcomeMessage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    h1 {
        font-size: 32px;
        margin-bottom: 10px;
        transform: translateX(-75px);
    }
    p {
        font-size: 12px;
        margin-bottom: 20px;
        line-height: 2.0;
        transform: translateX(-3px);
    }
}